*{
	box-sizing:border-box;
}


body{
	background-color: #0E0E0E;
	color: #fff;
	font-family: Roboto Condensed;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}

a{
	color:inherit;
	text-decoration: none;
}

ul{
	list-style: none;
}

.section-page{
	padding: 100px 0;
}

.container{
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

.header{
	background-image: url(../images/header1.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	background-size:cover ;
	background-position: center 40px;
	text-align: center;
	position: relative;
}

.header::after{
	content: '';
	position: absolute;
	height: 70px;
	bottom: 0;
	left:0;
	width: 100%;
	background: linear-gradient(180deg, #0E0E0E 0%, rgba(17, 17, 17, 0.850295) 16.53%, rgba(32, 31, 33, 0) 100%);
transform: rotate(180deg);
}

.menu{
	padding-top: 50px;
	padding-bottom: 58px;
 	background: linear-gradient(180deg, #111213 0%, #111213 43.62%, rgba(32, 31, 33, 0) 86.33%);
}
.menu-btn{
	display: none;
}

.menu__list{
	display: flex;
 	justify-content:center;
 	
 	
}

.menu__list-item{
	padding: 0 13px;
}

.menu__list-link{
	
	font-size: 36px;
	font-weight: 400;
	line-height: 42px;

}
.menu__list-link--active,
.menu__list-link:hover{
	color: #85CCDC;
	text-decoration: underline;
}

.logo{
	padding-top: 17vh;
}

.logo-img{

}
 
 .title{
 	text-align: center;
 	margin-bottom: 100px;
 	font-size: 36px;
 	line-height: 32px;
 	font-weight: 400;
 }

.about__inner{
	display: flex;
	// justify-content
}

.about__info{
	width: 375px;
	margin-right: 50px;
	flex:none;
}

.about__info-item span{
	display: block;
	
}

.about__info-item{
	color:#E5E5E5;
	margin-bottom: 25px;
}
 
.about__text p{
margin-bottom: 25px;
}

.video{
	background-image: url(../images/video-bg.jpg);
	height: 100vh;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center; 
	text-align: right;
}

.video__text{
	
	font-style: italic;
	font-weight: 300;
	font-size: 72px;
	line-height: 84px;
	color: #85CCDC;
	margin-bottom: 40px;
	padding-top: 45vh;
}

.video__text span{
	padding-right: 285px;
	display: block;
}
.video__btn{
	padding-left: 112px;
	position: relative;
	margin-right: 230px;

}

.video__btn::before{
	top:-40px;
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0;
	background-image: url(../images/youtube.svg);
}

.seasons__inner{
	display: grid;
	grid-template-columns:repeat(auto-fill, minmax(284px,1fr));// 3 колонки

	grid-gap:100px 75px;//100 відстань по вертикалі 75 по горизонталі
	counter-reset: counter;//ul
	padding-top: 72px;
}

.seasons__item{

	width: 350px;
	height: 250px;
	
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center center;
	list-style: none;
	position: relative;

	display: flex;
	justify-content: center;
	align-items:center;

}
.seasons__item::before{
	content: '0' counter(counter);
	counter-increment: counter; 
	position: absolute;
	color:#600E09;
	font-weight: 700;
	font-size: 96px;
	line-height: 112px;
	left:0;
	top:-70px;
	z-index: -1;
}
.seasons__item:nth-child(n+10)::before{
 	content: counter(counter);//щоб не було 010-011...
}

.seasons__link{
	padding: 12px 78px 11px;
	font-size: 36px;
	line-height: 42px;
	background-color: #0E0E0E;
	opacity: 0;
	transition:all .5s;
	z-index: 2;
}

// background: rgba(14, 14, 14, 0.8);

.seasons__item:hover .seasons__link{
	opacity: 1;
}

.seasons__item:hover::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(14, 14, 14, 0.8);
}

.heroes__inner{
	display: flex;
	justify-content: space-between;
}

.heroes__slider-img{
	max-width: 775px;
	margin-right: 75px;
}

.heroes__slider-text{
	max-width: 350px;
}

.slick-btn{
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	border:none;
	background-color: transparent;
	z-index: 5;
	cursor:pointer;
	outline: none;
}

.slick-prev{
	left: 38px;
}

.slick-next{
	right: 38px;
}

.heroes__name{
	margin-bottom: 44px;
	font-style: italic;
	font-weight: 300;
	font-size: 72px;
	line-height: 84px;
	color: #85CCDC;
}

.heroes__text p{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 15px;
	color: #FFFFFF;
}

.copy{
	padding: 14px 15px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}


/* start season-1 */

.page-header{
	background-image: url('../images/season-1(2)bg.jpg');
	background-repeat: no-repeat;
	background-position: center 0px;
	background-size: cover;
	height: 90vh;
	position: relative;
}

.page-logo{
	position: absolute;
	left: 0;
}

.season-info{
	position: absolute;
	max-width: 1385px;
	display: flex;
	background-color: #0E0E0E;
	padding: 44px 47px 64px 35px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.season-info__num{
	font-size: 96px;
	line-height: 56px;
	text-align: center;
	font-weight: 700;
	margin-right: 51px;
}
.season-info__num span{
	display: block;
	font-size: 36px;
	line-height: 42px;
}

.season-info__text p{
	margin-bottom: 15px;
}

.menu__container{
	max-width: 1385px;
	margin: 0 auto;
	position: relative;
}


/* end season-1 */


// @media(max-width: 1240px){
// 	.seasons__inner{display: grid;
// 	grid-template-columns:1fr 1fr;// 3 колонки

// 	grid-gap:100px 30px;//100 відстань по вертикалі 75 по горизонталі
// 	counter-reset: counter;//ul
// 	padding-top: 72px;
// }
// }
// media
@media(max-width:1420px ){
	.page-logo{
		left: 15px;
		top: -6px;
	}
}
@media(max-width:1366px ){
	.logo-img{
	width: 50%;
	}
	.menu__list-link{
		font-size: 24px;
		line-height: 32px;
	}
	.about__info{
		width: 250px;
	}
	.page-header{
		height: 120vh;
	}
}
@media(max-width:1200px ){
	.heroes__inner{
		display: block;
	}
	.heroes__slider-text{
		padding-top: 50px;
		max-width: 100%;
	}
	.heroes__slider-img{
		margin: 0 auto;
		max-width: 100%;
	}
}
@media(max-width: 1088px){
	.seasons__item{
		height:  220px;
		width: 100%;
	}
}
@media(max-width:992px ){
	.page-logo{
		display: none;
		// margin: 0	

}
}
@media(max-width:768px ){
	.about__inner{
		display: block;
	}
	.section-page{
		padding: 50px 0;
	}
	.title{

		margin-bottom: 50px;
		font-size: 28px;
		line-height: 36px;
	}
	.season-info{
		display: block;	
		padding: 30px 10px 0px 10px;
	}
	.season-info__num{
		text-align: left;
		font-size: 50px;	
		line-height: 26px;	
		margin-bottom: 15px;	
	}
	.season-info__num span{
		// text-align: left;
		font-size: 25px;	
		line-height: 32px;	
	}
	body{
		font-size: 16px;
		line-height: 19px;
	}
	.video__text { 
		font-size: 48px;
		line-height: 56px;
	}
	.video__text span{
		padding-right: 200px;
	}
	
	.video__btn::before{
		width: 50px;
		height: 50px;
		background-size: cover;
	}
	.video__btn{
		margin-right: 0;
		top:-16px;
		padding-left: 62px;
	}
	.seasons___inner{
		grid-gap:80px 35px;
	}
	.slick-btn{
		display: none;
	}
	.heroes__name{
		font-size: 46px;
		line-height: 56px;
		margin-bottom: 25px;
	}
}

@media(max-width:640px ){
	.menu{
		text-align: center;
		background: linear-gradient(180deg, #0E0E0E 0%, #111213 10%, rgba(32, 31, 33, 0) 86.33%);
	}
	.menu__list{
		display: none;
		// transform:translateY(0%);
		// transition:all .3s;
		// transform: translateX(130%);
	// transition: transform 0.5s; 
	// background-color: #000;
	}
	.menu__list.menu__list--active{
	display: block;

		// transform:translateY(-130%);
		// transform: translateY(0%);
	}
	.menu__list-link{
		display: block;
		padding: 10px 0;
	}
	.logo{
		padding-top: 0px;
	}
	.seasons__item{
		height: 435px;
	}
	.menu-btn{
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		order:1;
		position: relative;
		z-index: 50;
	}


	.btn-line{

 position: absolute;
 left:0;
 width: 100%;
background-color: #fff;
 height: 2px;
transition: .3s ease;
}
 .btn-line:nth-child(1){
 top:0;
 }
 .btn-line:nth-child(2){
top:20px
}
.btn-line:nth-child(3)
{
top:20px;
}
.btn-line:nth-child(4){
top: 40px;
}
.menu-open .btn-line:nth-child(1){
transform:scaleX(0);
}
.menu-open .btn-line:nth-child(2){
	transform:rotate(45deg);
}
.menu-open .btn-line:nth-child(3){
	transform:rotate(-45deg);
}
.menu-open .btn-line:nth-child(4){
	transform:scaleX(0);
}
.page-header{
		height: 175vh;
	}
}
	@media(max-width: 414px){
		.seasons__item{
		height: 203px;
	}
	.logo{
		padding-top: 101px;
	}

	}
